
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a,button{
  cursor: pointer;
}
.auth-area {
  min-height: calc(100vh - 70px);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;

}

.text-body-color{
  @apply text-gray-600
}

.sticky-menu .navbar-logo {
  @apply py-2;
}

.sticky-menu #navbarToggler span {
  @apply bg-dark dark:bg-white;
}

.sticky-menu #navbarCollapse li > a {
  @apply text-dark dark:text-white;
}

.sticky-menu #navbarCollapse li > a:hover {
  @apply text-primary opacity-100;
}

#navbarCollapse li .ud-menu-scroll.active {
  @apply opacity-70;
}

.sticky-menu #navbarCollapse li .ud-menu-scroll.active {
  @apply text-primary opacity-100 dark:text-white;
}

.sticky-menu .loginBtn {
  @apply text-dark dark:text-white;
}

.sticky-menu .loginBtn:hover {
  @apply text-primary opacity-100;
}

.sticky-menu .signUpBtn {
  @apply bg-primary text-white;
}

.sticky-menu .signUpBtn:hover {
  @apply bg-dark text-white;
}

.navbarTogglerActive > span:nth-child(1) {
  @apply top-[7px] rotate-45;
  @apply transform;
}

.navbarTogglerActive > span:nth-child(2) {
  @apply opacity-0;
}

.navbarTogglerActive > span:nth-child(3) {
  @apply top-[-8px] rotate-[135deg];
  @apply transform;
}

/* Blog details styling */
.blog-details,
.blog-details p {
  @apply text-body-color dark:text-dark-6 text-base leading-relaxed;
}

.blog-details p {
  @apply mb-8;
}

.blog-details strong {
  @apply text-dark font-bold dark:text-white;
}

.blog-details ul {
  @apply mb-8 list-inside list-disc space-y-3;
}

.blog-details ol {
  @apply mb-8 list-inside list-decimal space-y-3;
}

.blog-details h1 {
  @apply text-dark mb-8 text-3xl font-bold dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.28];
}

.blog-details h2 {
  @apply text-dark mb-8 text-2xl font-bold dark:text-white sm:text-3xl md:text-[35px] md:leading-[1.28];
}

.blog-details h3 {
  @apply text-dark mb-6 text-2xl font-bold dark:text-white sm:text-[28px] sm:leading-[40px];
}

.header-logo {
  width: 120px;
  height: auto;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.dashboard-page{
  overflow: hidden;
}